[submodule "klippy/extras/kgui"]
	path = klippy/parallel_extras/kgui
	url = https://github.com/D4SK/kgui
	branch = master
[submodule "klippy/extras/klipper-cura-connection"]
	path = klippy/parallel_extras/klipper_cura_connection
	url = https://github.com/Gobbel2000/klipper-cura-connection
[submodule "klippy/extras/gcode_metadata"]
	path = klippy/extras/gcode_metadata
	url = https://github.com/Gobbel2000/gcode_metadata.git
